In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
#pd.reset_option('display.float_format')

In [4]:
#print(os.path.basename("C:/Users/.../Documents/GitHub/dataset/2019-Oct.csv"))

In [5]:
#print(os.listdir("C:/Users/.../Documents/GitHub/dataset"))

In [6]:
print(os.listdir(os.path.abspath(os.path.join(os.getcwd(), os.pardir))))

['dataset', 'EDA', 'minimal-mistakes']

### CSV 파일 import

In [7]:
results_df2 = pd.read_csv(os.path.abspath(os.path.join(os.getcwd(), os.pardir)) + "\\dataset\\2019-Oct.csv", sep=',', header=0)

In [8]:
type(results_df2)

pandas.core.frame.DataFrame

In [9]:
results_df2.shape

(42448764, 9)

In [10]:
results_df2.columns

Index(['event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price', 'user_id', 'user_session'],
      dtype='object')

In [11]:
results_df2.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,"1,081.98",535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [13]:
results_df2['event_time'] = results_df2['event_time'].str.replace(" UTC", "")

In [14]:
results_df2['key'] = results_df2['user_id'].astype(str) + results_df2['user_session'].astype(str)

In [15]:
results_df2['category_lcd'] = results_df2.category_code.str.split('.').str[0]

In [17]:
results_df2['category_mcd'] = results_df2.category_code.str.split('.').str[1]

In [18]:
results_df2['category_scd'] = results_df2.category_code.str.split('.').str[2]

In [20]:
results_df2.to_csv("2019-Oct_new.csv")

In [21]:
results_df2.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,key,category_lcd,category_mcd,category_scd
0,2019-10-01 00:00:00,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c,54131214072d76fde-8bb3-4e00-8c23-a032dfed738c,NaN,NaN,NaN
1,2019-10-01 00:00:00,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc,5547487179333dfbd-b87a-4708-9857-6336556b0fcc,appliances,environment,water_heater
2,2019-10-01 00:00:01,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8,519107250566511c2-e2e3-422b-b695-cf8e6e792ca8,furniture,living_room,sofa
3,2019-10-01 00:00:01,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713,5500508547c90fc70-0e80-4590-96f3-13c02c18c713,computers,notebook,NaN
4,2019-10-01 00:00:04,view,1004237,2053013555631882655,electronics.smartphone,apple,"1,081.98",535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d,535871217c6bd7419-2748-4c56-95b4-8cec9ff8b80d,electronics,smartphone,NaN

In [22]:
print(results_df2.dtypes)

event_time        object
event_type        object
product_id         int64
category_id        int64
category_code     object
brand             object
price            float64
user_id            int64
user_session      object
key               object
category_lcd      object
category_mcd      object
category_scd      object
dtype: object

In [23]:
brand = results_df2['brand'].unique()

In [24]:
brand

array(['shiseido', 'aqua', nan, ..., 'ecolaboratorie', 'organicshop',
       'skindoctors'], dtype=object)

In [25]:
type(brand)

numpy.ndarray

In [26]:
results_df2.brand.value_counts()

samsung       5282775
apple         4122554
xiaomi        3083763
huawei        1111205
lucente        655861
               ...
kumanodeve          1
goldenrose          1
fireball            1
grand               1
ubtech              1
Name: brand, Length: 3444, dtype: int64

In [27]:
brd_uniq = pd.DataFrame(results_df2['brand'].unique(), columns = ['brd'])

In [28]:
brd_uniq

                  brd
0            shiseido
1                aqua
2                 NaN
3              lenovo
4               apple
...               ...
3440  naturakamchatka
3441             milk
3442   ecolaboratorie
3443      organicshop
3444      skindoctors

[3445 rows x 1 columns]

In [29]:
brd_uniq.shape

(3445, 1)

In [30]:
brd_uniq.brd.value_counts()

dynamic       1
nintendo      1
force         1
herman        1
ovk           1
             ..
sly           1
sdt           1
miumiu        1
qazprotein    1
lujun         1
Name: brd, Length: 3444, dtype: int64

In [28]:
# results_df2['key'].describe()

In [29]:
# results_df2.sort_values(by=["key"], ascending=True)

In [31]:
results_df2['user_session'].describe()

count                                 42448762
unique                                 9244421
top       fb075266-182d-4c11-b5f7-4e4dcdabd4a7
freq                                      1159
Name: user_session, dtype: object

In [32]:
# results_df2.sort_values(by=["user_session"], ascending=True)

In [33]:
# results_df2.sort_values(by=["key", "event_time"], ascending=True)

In [34]:
rdf_typ = pd.DataFrame(results_df2['event_type'].unique(), columns = ['typ'])

In [35]:
rdf_typ.head()

        typ
0      view
1  purchase
2      cart

In [36]:
results_df2['event_type'].value_counts()

view        40779399
cart          926516
purchase      742849
Name: event_type, dtype: int64

In [37]:
results_df2.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,key,category_lcd,category_mcd,category_scd
0,2019-10-01 00:00:00,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c,54131214072d76fde-8bb3-4e00-8c23-a032dfed738c,NaN,NaN,NaN
1,2019-10-01 00:00:00,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc,5547487179333dfbd-b87a-4708-9857-6336556b0fcc,appliances,environment,water_heater
2,2019-10-01 00:00:01,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8,519107250566511c2-e2e3-422b-b695-cf8e6e792ca8,furniture,living_room,sofa
3,2019-10-01 00:00:01,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713,5500508547c90fc70-0e80-4590-96f3-13c02c18c713,computers,notebook,NaN
4,2019-10-01 00:00:04,view,1004237,2053013555631882655,electronics.smartphone,apple,"1,081.98",535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d,535871217c6bd7419-2748-4c56-95b4-8cec9ff8b80d,electronics,smartphone,NaN

In [38]:
results_df2['event_type'].value_counts() / results_df2['event_type'].value_counts().sum()

view       0.96
cart       0.02
purchase   0.02
Name: event_type, dtype: float64

In [39]:
results_df2['event_type'].value_counts().sum()

42448764

In [40]:
is_purchase2 = results_df2.loc[results_df2["event_type"] == "purchase", :]

In [41]:
is_purchase2.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,key,category_lcd,category_mcd,category_scd
162,2019-10-01 00:02:14,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,543272936,8187d148-3c41-46d4-b0c0-9c08cd9dc564,5432729368187d148-3c41-46d4-b0c0-9c08cd9dc564,electronics,smartphone,NaN
308,2019-10-01 00:04:37,purchase,1002532,2053013555631882655,electronics.smartphone,apple,642.69,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68,5513776513c80f0d6-e9ec-4181-8c5c-837a30be2d68,electronics,smartphone,NaN
379,2019-10-01 00:06:02,purchase,5100816,2053013553375346967,NaN,xiaomi,29.51,514591159,0e5dfc4b-2a55-43e6-8c05-97e1f07fbb56,5145911590e5dfc4b-2a55-43e6-8c05-97e1f07fbb56,NaN,NaN,NaN
442,2019-10-01 00:07:07,purchase,13800054,2053013557418656265,furniture.bathroom.toilet,santeri,54.42,555332717,1dea3ee2-2ded-42e8-8e7a-4e2ad6ae942f,5553327171dea3ee2-2ded-42e8-8e7a-4e2ad6ae942f,furniture,bathroom,toilet
574,2019-10-01 00:09:26,purchase,4804055,2053013554658804075,electronics.audio.headphone,apple,189.91,524601178,2af9b570-0942-4dcd-8f25-4d84fba82553,5246011782af9b570-0942-4dcd-8f25-4d84fba82553,electronics,audio,headphone

In [42]:
is_purchase2.shape

(742849, 13)

In [43]:
type(is_purchase2)

pandas.core.frame.DataFrame

In [44]:
is_purchase2.sort_values(["event_time"]).head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,key,category_lcd,category_mcd,category_scd
162,2019-10-01 00:02:14,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,543272936,8187d148-3c41-46d4-b0c0-9c08cd9dc564,5432729368187d148-3c41-46d4-b0c0-9c08cd9dc564,electronics,smartphone,NaN
308,2019-10-01 00:04:37,purchase,1002532,2053013555631882655,electronics.smartphone,apple,642.69,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68,5513776513c80f0d6-e9ec-4181-8c5c-837a30be2d68,electronics,smartphone,NaN
379,2019-10-01 00:06:02,purchase,5100816,2053013553375346967,NaN,xiaomi,29.51,514591159,0e5dfc4b-2a55-43e6-8c05-97e1f07fbb56,5145911590e5dfc4b-2a55-43e6-8c05-97e1f07fbb56,NaN,NaN,NaN
442,2019-10-01 00:07:07,purchase,13800054,2053013557418656265,furniture.bathroom.toilet,santeri,54.42,555332717,1dea3ee2-2ded-42e8-8e7a-4e2ad6ae942f,5553327171dea3ee2-2ded-42e8-8e7a-4e2ad6ae942f,furniture,bathroom,toilet
574,2019-10-01 00:09:26,purchase,4804055,2053013554658804075,electronics.audio.headphone,apple,189.91,524601178,2af9b570-0942-4dcd-8f25-4d84fba82553,5246011782af9b570-0942-4dcd-8f25-4d84fba82553,electronics,audio,headphone

In [45]:
is_purchase2.describe()

         product_id                  category_id      price        user_id
count    742,849.00                   742,849.00 742,849.00     742,849.00
mean   6,492,306.76 2,054,951,138,215,665,408.00     309.56 535,610,110.93
std    8,855,381.10    13,158,754,607,994,414.00     348.87  18,263,111.94
min    1,000,978.00 2,053,013,552,226,107,648.00       0.77 264,649,825.00
25%    1,004,839.00 2,053,013,555,355,058,688.00      87.49 516,700,256.00
50%    1,801,739.00 2,053,013,555,631,882,752.00     179.84 535,134,939.00
75%    8,700,430.00 2,053,013,558,190,408,192.00     375.21 553,667,019.00
max   60,500,009.00 2,175,419,595,093,967,616.00   2,574.07 566,278,294.00

In [46]:
pd.DataFrame(is_purchase2['user_id'].unique(), columns = ['brd'])

              brd
0       543272936
1       551377651
2       514591159
3       555332717
4       524601178
...           ...
347113  555466772
347114  514503441
347115  514905226
347116  544501248
347117  516662286

[347118 rows x 1 columns]

In [47]:
pd.DataFrame(is_purchase2['user_id'].unique(), columns = ['uid'])

              uid
0       543272936
1       551377651
2       514591159
3       555332717
4       524601178
...           ...
347113  555466772
347114  514503441
347115  514905226
347116  544501248
347117  516662286

[347118 rows x 1 columns]

In [48]:
is_purchase2['user_id'].value_counts()

512386086    322
523974502    291
513320236    242
517728689    204
543312954    193
            ...
512751900      1
564800010      1
515852554      1
558305681      1
555106918      1
Name: user_id, Length: 347118, dtype: int64

In [49]:
is_purchase2.loc[is_purchase2["user_id"] == 512386086, :].sort_values(by=["user_session"])

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,key,category_lcd,category_mcd,category_scd
20815815,2019-10-16 07:20:25,purchase,1004227,2053013555631882655,electronics.smartphone,apple,"1,005.11",512386086,0254a406-6374-434c-a5c4-fc6587a940f2,5123860860254a406-6374-434c-a5c4-fc6587a940f2,electronics,smartphone,NaN
18009096,2019-10-14 09:46:12,purchase,1004873,2053013555631882655,electronics.smartphone,samsung,378.53,512386086,0467ea95-0b24-4495-b23a-b66611775125,5123860860467ea95-0b24-4495-b23a-b66611775125,electronics,smartphone,NaN
18011570,2019-10-14 09:48:00,purchase,1004767,2053013555631882655,electronics.smartphone,samsung,250.82,512386086,0467ea95-0b24-4495-b23a-b66611775125,5123860860467ea95-0b24-4495-b23a-b66611775125,electronics,smartphone,NaN
21346687,2019-10-16 13:34:37,purchase,1801555,2053013554415534427,electronics.video.tv,lg,462.05,512386086,066feac3-b887-40ce-be49-b75bc042cc81,512386086066feac3-b887-40ce-be49-b75bc042cc81,electronics,video,tv
21378483,2019-10-16 13:54:44,purchase,1004767,2053013555631882655,electronics.smartphone,samsung,250.69,512386086,070c2556-a845-4186-b110-74c7de6b5f06,512386086070c2556-a845-4186-b110-74c7de6b5f06,electronics,smartphone,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25317578,2019-10-19 08:32:03,purchase,4201541,2053013552351936731,appliances.environment.air_conditioner,artel,898.35,512386086,fa6e68d7-d510-416c-86d9-26f2fb98900d,512386086fa6e68d7-d510-416c-86d9-26f2fb98900d,appliances,environment,air_conditioner
32582070,2019-10-24 10:43:58,purchase,1801555,2053013554415534427,electronics.video.tv,lg,459.21,512386086,fb339712-a4bd-47c0-b419-77e026a8ecc8,512386086fb339712-a4bd-47c0-b419-77e026a8ecc8,electronics,video,tv
21205080,2019-10-16 11:50:07,purchase,1004227,2053013555631882655,electronics.smartphone,apple,"1,005.11",512386086,fbc6865a-a9b1-4a78-994b-665a0cb86218,512386086fbc6865a-a9b1-4a78-994b-665a0cb86218,electronics,smartphone,NaN
10521742,2019-10-09 06:59:32,purchase,1801555,2053013554415534427,electronics.video.tv,lg,460.50,512386086,fc88225f-fb27-4df8-8e8a-0985d012c7b9,512386086fc88225f-fb27-4df8-8e8a-0985d012c7b9,electronics,video,tv
10527049,2019-10-09 07:04:04,purchase,1004767,2053013555631882655,electronics.smartphone,samsung,250.96,512386086,fc88225f-fb27-4df8-8e8a-0985d012c7b9,512386086fc88225f-fb27-4df8-8e8a-0985d012c7b9,electronics,smartphone,NaN

In [50]:
is_purchase2.to_csv("2019-Oct_purchase.csv")