In [10]:
import pandas as pd
import numpy as np
import os

In [11]:
pd.options.display.float_format = '{:,.2f}'.format

In [12]:
#pd.reset_option('display.float_format')

In [13]:
#print(os.path.basename("C:/Users/.../Documents/GitHub/dataset/2019-Nov.csv"))

In [14]:
#print(os.listdir("C:/Users/.../Documents/GitHub/dataset"))

In [15]:
print(os.listdir(os.path.abspath(os.path.join(os.getcwd(), os.pardir))))

['dataset', 'EDA', 'minimal-mistakes']

### CSV 파일 import

In [17]:
results_df = pd.read_csv(os.path.abspath(os.path.join(os.getcwd(), os.pardir)) + "\\EDA\\2019-Nov_new.csv", sep=',', header=0)

In [18]:
type(results_df)

pandas.core.frame.DataFrame

In [19]:
results_df.shape

(67501979, 14)

In [20]:
results_df.columns

Index(['Unnamed: 0', 'event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price', 'user_id', 'user_session', 'key',
       'category_lcd', 'category_mcd', 'category_scd'],
      dtype='object')

In [21]:
results_df.head()

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,key,category_lcd,category_mcd,category_scd
0,0,2019-11-01 00:00:00,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33,5200889044d3b30da-a5e4-49df-b1a8-ba5943f1dd33,electronics,smartphone,NaN
1,1,2019-11-01 00:00:00,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283,5304967908e5f4f83-366c-4f70-860e-ca7417414283,appliances,sewing_machine,NaN
2,2,2019-11-01 00:00:01,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387,561587266755422e7-9040-477b-9bd2-6a6e8fd97387,NaN,NaN,NaN
3,3,2019-11-01 00:00:01,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f,5180855913bfb58cd-7892-48cc-8020-2f17e6de6e7f,appliances,kitchen,washer
4,4,2019-11-01 00:00:01,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2,558856683313628f1-68b8-460d-84f6-cec7a8796ef2,electronics,smartphone,NaN

In [12]:
# results_df['event_time'] = results_df['event_time'].str.replace(" UTC", "")

In [13]:
# results_df['key'] = results_df['user_id'].astype(str) + results_df['user_session'].astype(str)

In [14]:
# results_df['category_lcd'] = results_df.category_code.str.split('.').str[0]

In [15]:
# results_df['category_mcd'] = results_df.category_code.str.split('.').str[1]

In [16]:
# results_df['category_scd'] = results_df.category_code.str.split('.').str[2]

In [17]:
# results_df.to_csv("2019-Nov_new.csv")

In [22]:
# results_df.head()

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,key,category_lcd,category_mcd,category_scd
0,0,2019-11-01 00:00:00,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33,5200889044d3b30da-a5e4-49df-b1a8-ba5943f1dd33,electronics,smartphone,NaN
1,1,2019-11-01 00:00:00,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283,5304967908e5f4f83-366c-4f70-860e-ca7417414283,appliances,sewing_machine,NaN
2,2,2019-11-01 00:00:01,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387,561587266755422e7-9040-477b-9bd2-6a6e8fd97387,NaN,NaN,NaN
3,3,2019-11-01 00:00:01,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f,5180855913bfb58cd-7892-48cc-8020-2f17e6de6e7f,appliances,kitchen,washer
4,4,2019-11-01 00:00:01,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2,558856683313628f1-68b8-460d-84f6-cec7a8796ef2,electronics,smartphone,NaN

In [23]:
print(results_df.dtypes)

Unnamed: 0         int64
event_time        object
event_type        object
product_id         int64
category_id        int64
category_code     object
brand             object
price            float64
user_id            int64
user_session      object
key               object
category_lcd      object
category_mcd      object
category_scd      object
dtype: object

In [24]:
brand = results_df['brand'].unique()

In [25]:
brand

array(['xiaomi', 'janome', 'creed', ..., 'zmonday', 'pierrericaud',
       'pjmasks'], dtype=object)

In [26]:
type(brand)

numpy.ndarray

In [27]:
results_df.brand.value_counts()

samsung      7889245
apple        6259379
xiaomi       4638062
huawei       1410126
lucente      1185075
              ...
fame               1
dogrular           1
invotone           1
zazu               1
mangokids          1
Name: brand, Length: 4200, dtype: int64

In [28]:
brd_uniq = pd.DataFrame(results_df['brand'].unique(), columns = ['brd'])

In [29]:
brd_uniq

                brd
0            xiaomi
1            janome
2             creed
3                lg
4                hp
...             ...
4196  lauravalarosa
4197        warrior
4198        zmonday
4199   pierrericaud
4200        pjmasks

[4201 rows x 1 columns]

In [30]:
brd_uniq.shape

(4201, 1)

In [31]:
brd_uniq.brd.value_counts()

vogue             1
gigazone          1
nady              1
kicx              1
lucente           1
                 ..
champion          1
thermaltake       1
kumanodeve        1
electronicarts    1
dickietoys        1
Name: brd, Length: 4200, dtype: int64

In [28]:
# results_df['key'].describe()

In [29]:
# results_df.sort_values(by=["key"], ascending=True)

In [32]:
results_df['user_session'].describe()

count                                 67501969
unique                                13776050
top       d99d91bf-40f8-4e29-9593-54b4a1826542
freq                                      4128
Name: user_session, dtype: object

In [31]:
# results_df.sort_values(by=["user_session"], ascending=True)

In [32]:
# results_df.sort_values(by=["key", "event_time"], ascending=True)

In [33]:
rdf_typ = pd.DataFrame(results_df['event_type'].unique(), columns = ['typ'])

In [34]:
rdf_typ.head()

        typ
0      view
1      cart
2  purchase

In [35]:
results_df['event_type'].value_counts()

view        63556110
cart         3028930
purchase      916939
Name: event_type, dtype: int64

In [36]:
results_df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,key,category_lcd,category_mcd,category_scd
0,2019-11-01 00:00:00,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33,5200889044d3b30da-a5e4-49df-b1a8-ba5943f1dd33,electronics,smartphone,NaN
1,2019-11-01 00:00:00,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283,5304967908e5f4f83-366c-4f70-860e-ca7417414283,appliances,sewing_machine,NaN
2,2019-11-01 00:00:01,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387,561587266755422e7-9040-477b-9bd2-6a6e8fd97387,NaN,NaN,NaN
3,2019-11-01 00:00:01,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f,5180855913bfb58cd-7892-48cc-8020-2f17e6de6e7f,appliances,kitchen,washer
4,2019-11-01 00:00:01,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2,558856683313628f1-68b8-460d-84f6-cec7a8796ef2,electronics,smartphone,NaN

In [36]:
results_df['event_type'].value_counts() / results_df['event_type'].value_counts().sum()

view       0.94
cart       0.04
purchase   0.01
Name: event_type, dtype: float64

In [37]:
results_df['event_type'].value_counts().sum()

67501979

In [38]:
is_purchase = results_df.loc[results_df["event_type"] == "purchase", :]

In [46]:
is_purchase.head()

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,key,category_lcd,category_mcd,category_scd
107,107,2019-11-01 00:00:41,purchase,13200605,2053013557192163841,furniture.bedroom.bed,NaN,566.30,559368633,d6034fa2-41fb-4ac0-9051-55ea9fc9147a,559368633d6034fa2-41fb-4ac0-9051-55ea9fc9147a,furniture,bedroom,bed
168,168,2019-11-01 00:01:04,purchase,1005161,2053013555631882655,electronics.smartphone,xiaomi,211.92,513351129,e6b7ce9b-1938-4e20-976c-8b4163aea11d,513351129e6b7ce9b-1938-4e20-976c-8b4163aea11d,electronics,smartphone,NaN
707,707,2019-11-01 00:04:51,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,128.42,562958505,0f039697-fedc-40fa-8830-39c1a024351d,5629585050f039697-fedc-40fa-8830-39c1a024351d,electronics,smartphone,NaN
811,811,2019-11-01 00:05:34,purchase,26401669,2053013563651392361,NaN,lucente,109.66,541854711,c41c44d5-ef9b-41b9-9cd6-8d96dda6e927,541854711c41c44d5-ef9b-41b9-9cd6-8d96dda6e927,NaN,NaN,NaN
939,939,2019-11-01 00:06:33,purchase,1801881,2053013554415534427,electronics.video.tv,samsung,488.80,557746614,4d76d6d3-fff5-4880-8327-e9e57b618e0e,5577466144d76d6d3-fff5-4880-8327-e9e57b618e0e,electronics,video,tv

In [47]:
is_purchase.shape

(916939, 14)

In [40]:
type(is_purchase)

pandas.core.frame.DataFrame

In [39]:
is_purchase.sort_values(["event_time"]).head()

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,key,category_lcd,category_mcd,category_scd
107,107,2019-11-01 00:00:41,purchase,13200605,2053013557192163841,furniture.bedroom.bed,NaN,566.30,559368633,d6034fa2-41fb-4ac0-9051-55ea9fc9147a,559368633d6034fa2-41fb-4ac0-9051-55ea9fc9147a,furniture,bedroom,bed
168,168,2019-11-01 00:01:04,purchase,1005161,2053013555631882655,electronics.smartphone,xiaomi,211.92,513351129,e6b7ce9b-1938-4e20-976c-8b4163aea11d,513351129e6b7ce9b-1938-4e20-976c-8b4163aea11d,electronics,smartphone,NaN
707,707,2019-11-01 00:04:51,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,128.42,562958505,0f039697-fedc-40fa-8830-39c1a024351d,5629585050f039697-fedc-40fa-8830-39c1a024351d,electronics,smartphone,NaN
811,811,2019-11-01 00:05:34,purchase,26401669,2053013563651392361,NaN,lucente,109.66,541854711,c41c44d5-ef9b-41b9-9cd6-8d96dda6e927,541854711c41c44d5-ef9b-41b9-9cd6-8d96dda6e927,NaN,NaN,NaN
939,939,2019-11-01 00:06:33,purchase,1801881,2053013554415534427,electronics.video.tv,samsung,488.80,557746614,4d76d6d3-fff5-4880-8327-e9e57b618e0e,5577466144d76d6d3-fff5-4880-8327-e9e57b618e0e,electronics,video,tv

In [40]:
is_purchase.describe()

,Unnamed: 0,product_id,category_id,price,user_id
count,"916,939.00","916,939.00","916,939.00","916,939.00","916,939.00"
mean,"35,995,248.70","7,939,223.34","2,055,248,012,246,508,288.00",300.12,"542,305,171.93"
std,"20,227,420.02","13,174,080.89","14,233,265,507,928,542.00",341.38,"22,421,806.64"
min,107.00,"1,000,978.00","2,053,013,552,226,107,648.00",0.77,"138,340,325.00"
25%,"16,185,729.50","1,004,934.00","2,053,013,554,776,244,480.00",82.63,"518,702,086.00"
50%,"41,333,580.00","2,701,683.00","2,053,013,555,631,882,752.00",169.96,"543,028,045.00"
75%,"52,492,292.50","12,600,007.00","2,053,013,558,920,217,088.00",364.75,"564,683,459.00"
max,"67,501,944.00","100,027,933.00","2,187,707,789,055,361,280.00","2,574.07","579,967,058.00"

In [41]:
pd.DataFrame(is_purchase['user_id'].unique(), columns = ['brd'])

              brd
0       559368633
1       513351129
2       562958505
3       541854711
4       557746614
...           ...
441633  579966375
441634  579967058
441635  579876821
441636  557794415
441637  515582054

[441638 rows x 1 columns]

In [42]:
pd.DataFrame(is_purchase['user_id'].unique(), columns = ['uid'])

              uid
0       559368633
1       513351129
2       562958505
3       541854711
4       557746614
...           ...
441633  579966375
441634  579967058
441635  579876821
441636  557794415
441637  515582054

[441638 rows x 1 columns]

In [43]:
is_purchase['user_id'].value_counts()

564068124    519
512386086    268
549109608    222
518514099    202
549030056    190
            ...
513059103      1
545091405      1
513632076      1
534681144      1
572620208      1
Name: user_id, Length: 441638, dtype: int64

In [44]:
is_purchase.loc[is_purchase["user_id"] == 512386086, :].sort_values(by=["user_session"])

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,key,category_lcd,category_mcd,category_scd
66112892,66112892,2019-11-30 06:50:45,purchase,1801555,2053013554415534427,electronics.video.tv,lg,444.58,512386086,0455e21d-4683-4f9d-8645-64d94e3ee8f8,5123860860455e21d-4683-4f9d-8645-64d94e3ee8f8,electronics,video,tv
66107421,66107421,2019-11-30 06:47:20,purchase,1005115,2053013555631882655,electronics.smartphone,apple,916.37,512386086,0455e21d-4683-4f9d-8645-64d94e3ee8f8,5123860860455e21d-4683-4f9d-8645-64d94e3ee8f8,electronics,smartphone,NaN
66098175,66098175,2019-11-30 06:41:42,purchase,1801555,2053013554415534427,electronics.video.tv,lg,444.58,512386086,0455e21d-4683-4f9d-8645-64d94e3ee8f8,5123860860455e21d-4683-4f9d-8645-64d94e3ee8f8,electronics,video,tv
41196981,41196981,2019-11-17 08:39:16,purchase,1005115,2053013555631882655,electronics.smartphone,apple,913.79,512386086,06551fb1-153e-475c-be05-29f881af2c90,51238608606551fb1-153e-475c-be05-29f881af2c90,electronics,smartphone,NaN
19718141,19718141,2019-11-12 06:55:27,purchase,1801555,2053013554415534427,electronics.video.tv,lg,460.84,512386086,074738da-a97d-4f4f-8af4-280f49c8d248,512386086074738da-a97d-4f4f-8af4-280f49c8d248,electronics,video,tv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40660993,40660993,2019-11-17 07:06:58,purchase,4201541,2053013552351936731,appliances.environment.air_conditioner,artel,898.35,512386086,fd278bc2-f89c-4a58-a000-ebf9b91a7ba2,512386086fd278bc2-f89c-4a58-a000-ebf9b91a7ba2,appliances,environment,air_conditioner
13867575,13867575,2019-11-09 06:51:22,purchase,4201541,2053013552351936731,appliances.environment.air_conditioner,artel,898.35,512386086,fe2befc2-812c-40b5-8b72-68ddb8cee62f,512386086fe2befc2-812c-40b5-8b72-68ddb8cee62f,appliances,environment,air_conditioner
13894469,13894469,2019-11-09 07:07:42,purchase,4201541,2053013552351936731,appliances.environment.air_conditioner,artel,898.35,512386086,fe2befc2-812c-40b5-8b72-68ddb8cee62f,512386086fe2befc2-812c-40b5-8b72-68ddb8cee62f,appliances,environment,air_conditioner
13844731,13844731,2019-11-09 06:37:30,purchase,1004227,2053013555631882655,electronics.smartphone,apple,"1,000.80",512386086,fe2befc2-812c-40b5-8b72-68ddb8cee62f,512386086fe2befc2-812c-40b5-8b72-68ddb8cee62f,electronics,smartphone,NaN
13888425,13888425,2019-11-09 07:04:03,purchase,1004227,2053013555631882655,electronics.smartphone,apple,"1,000.80",512386086,fe2befc2-812c-40b5-8b72-68ddb8cee62f,512386086fe2befc2-812c-40b5-8b72-68ddb8cee62f,electronics,smartphone,NaN

In [45]:
is_purchase.to_csv("2019-Nov_purchase.csv")