In [2]:
import pandas as pd
import numpy as np
import os

In [ ]:
pd.options.display.float_format = '{:,.2f}'.format

In [4]:
#pd.reset_option('display.float_format')

In [5]:
#print(os.path.basename("C:/Users/.../Documents/GitHub/dataset/2019-Nov.csv"))

2019-Nov.csv

In [6]:
#print(os.listdir("C:/Users/.../Documents/GitHub/dataset"))

['2019-Nov.csv', '2019-Oct.csv', '411512_835452_compressed_2019-Nov.csv.zip', '411512_835452_compressed_2019-Oct.csv.zip', '이커머스 url.txt']

In [7]:
print(os.listdir(os.path.abspath(os.path.join(os.getcwd(), os.pardir))))

['dataset', 'EDA', 'minimal-mistakes']

### CSV 파일 import

In [17]:
results_df = pd.read_csv(os.path.abspath(os.path.join(os.getcwd(), os.pardir)) + "\\dataset\\2019-Nov.csv", sep=',', header=0)

In [18]:
type(results_df)

pandas.core.frame.DataFrame

In [19]:
results_df.shape

(67501979, 9)

In [20]:
results_df.columns

Index(['event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price', 'user_id', 'user_session'],
      dtype='object')

In [21]:
results_df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2

In [22]:
results_df['event_time'] = results_df['event_time'].str.replace(" UTC", "")

In [23]:
results_df['key'] = results_df['user_id'].astype(str) + results_df['user_session'].astype(str)

In [24]:
results_df['category_lcd'] = results_df.category_code.str.split('.').str[0]

In [25]:
results_df['category_mcd'] = results_df.category_code.str.split('.').str[1]

In [27]:
results_df['category_scd'] = results_df.category_code.str.split('.').str[2]

In [28]:
results_df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,key,category_lcd,category_mcd,category_scd
0,2019-11-01 00:00:00,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33,5200889044d3b30da-a5e4-49df-b1a8-ba5943f1dd33,electronics,smartphone,NaN
1,2019-11-01 00:00:00,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283,5304967908e5f4f83-366c-4f70-860e-ca7417414283,appliances,sewing_machine,NaN
2,2019-11-01 00:00:01,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387,561587266755422e7-9040-477b-9bd2-6a6e8fd97387,NaN,NaN,NaN
3,2019-11-01 00:00:01,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f,5180855913bfb58cd-7892-48cc-8020-2f17e6de6e7f,appliances,kitchen,washer
4,2019-11-01 00:00:01,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2,558856683313628f1-68b8-460d-84f6-cec7a8796ef2,electronics,smartphone,NaN

In [29]:
print(results_df.dtypes)

event_time        object
event_type        object
product_id         int64
category_id        int64
category_code     object
brand             object
price            float64
user_id            int64
user_session      object
key               object
category_lcd      object
category_mcd      object
category_scd      object
dtype: object

In [37]:
brand = results_df['brand'].unique()

In [39]:
brand

array(['xiaomi', 'janome', 'creed', ..., 'zmonday', 'pierrericaud',
       'pjmasks'], dtype=object)

In [41]:
type(brand)

numpy.ndarray

In [42]:
results_df.brand.value_counts()

samsung         7889245
apple           6259379
xiaomi          4638062
huawei          1410126
lucente         1185075
                 ...
casato                1
interlink             1
invotone              1
pervenec              1
luciasvetlaa          1
Name: brand, Length: 4200, dtype: int64

In [46]:
brd_uniq = pd.DataFrame(results_df['brand'].unique(), columns = ['brd'])

In [47]:
brd_uniq

                brd
0            xiaomi
1            janome
2             creed
3                lg
4                hp
...             ...
4196  lauravalarosa
4197        warrior
4198        zmonday
4199   pierrericaud
4200        pjmasks

[4201 rows x 1 columns]

In [ ]:
brd_uniq.shape

In [50]:
brd_uniq.brd.value_counts()

gesso         1
pnb           1
ivaru         1
teplokryma    1
atmosphera    1
             ..
philips       1
hayali        1
comfee        1
railking      1
covani        1
Name: brd, Length: 4200, dtype: int64

In [51]:
# results_df['key'].describe()

count                                          67501979
unique                                         13776651
top       573277455d99d91bf-40f8-4e29-9593-54b4a1826542
freq                                               4128
Name: key, dtype: object

In [48]:
# results_df.sort_values(by=["key"], ascending=True)

In [49]:
results_df['user_session'].describe()

count                                 42448762
unique                                 9244421
top       fb075266-182d-4c11-b5f7-4e4dcdabd4a7
freq                                      1159
Name: user_session, dtype: object

In [50]:
# results_df.sort_values(by=["user_session"], ascending=True)

In [51]:
# results_df.sort_values(by=["key", "event_time"], ascending=True)

In [52]:
rdf_typ = pd.DataFrame(results_df['event_type'].unique(), columns = ['typ'])

In [75]:
rdf_typ.head()

        typ
0      view
1  purchase
2      cart

In [53]:
results_df['event_type'].value_counts()

view        63556110
cart         3028930
purchase      916939
Name: event_type, dtype: int64

In [54]:
results_df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,key,category_lcd,category_mcd,category_scd
0,2019-11-01 00:00:00,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33,5200889044d3b30da-a5e4-49df-b1a8-ba5943f1dd33,electronics,smartphone,NaN
1,2019-11-01 00:00:00,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283,5304967908e5f4f83-366c-4f70-860e-ca7417414283,appliances,sewing_machine,NaN
2,2019-11-01 00:00:01,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387,561587266755422e7-9040-477b-9bd2-6a6e8fd97387,NaN,NaN,NaN
3,2019-11-01 00:00:01,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f,5180855913bfb58cd-7892-48cc-8020-2f17e6de6e7f,appliances,kitchen,washer
4,2019-11-01 00:00:01,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2,558856683313628f1-68b8-460d-84f6-cec7a8796ef2,electronics,smartphone,NaN

In [55]:
results_df['event_type'].value_counts() / results_df['event_type'].value_counts().sum()

view       0.94
cart       0.04
purchase   0.01
Name: event_type, dtype: float64

In [56]:
results_df['event_type'].value_counts().sum()

67501979

In [ ]:
is_purchase = results_df.loc[results_df["event_type"] == "purchase", :]

In [103]:
type(is_purchase)

pandas.core.frame.DataFrame

In [112]:
is_purchase.sort_values(["event_time"]).head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,key
162,2019-10-01 00:02:14,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,543272936,8187d148-3c41-46d4-b0c0-9c08cd9dc564,5432729368187d148-3c41-46d4-b0c0-9c08cd9dc564
308,2019-10-01 00:04:37,purchase,1002532,2053013555631882655,electronics.smartphone,apple,642.69,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68,5513776513c80f0d6-e9ec-4181-8c5c-837a30be2d68
379,2019-10-01 00:06:02,purchase,5100816,2053013553375346967,NaN,xiaomi,29.51,514591159,0e5dfc4b-2a55-43e6-8c05-97e1f07fbb56,5145911590e5dfc4b-2a55-43e6-8c05-97e1f07fbb56
442,2019-10-01 00:07:07,purchase,13800054,2053013557418656265,furniture.bathroom.toilet,santeri,54.42,555332717,1dea3ee2-2ded-42e8-8e7a-4e2ad6ae942f,5553327171dea3ee2-2ded-42e8-8e7a-4e2ad6ae942f
574,2019-10-01 00:09:26,purchase,4804055,2053013554658804075,electronics.audio.headphone,apple,189.91,524601178,2af9b570-0942-4dcd-8f25-4d84fba82553,5246011782af9b570-0942-4dcd-8f25-4d84fba82553

In [105]:
is_purchase.describe()

         product_id                  category_id      price        user_id
count    742,849.00                   742,849.00 742,849.00     742,849.00
mean   6,492,306.76 2,054,951,138,215,665,408.00     309.56 535,610,110.93
std    8,855,381.10    13,158,754,607,994,414.00     348.87  18,263,111.94
min    1,000,978.00 2,053,013,552,226,107,648.00       0.77 264,649,825.00
25%    1,004,839.00 2,053,013,555,355,058,688.00      87.49 516,700,256.00
50%    1,801,739.00 2,053,013,555,631,882,752.00     179.84 535,134,939.00
75%    8,700,430.00 2,053,013,558,190,408,192.00     375.21 553,667,019.00
max   60,500,009.00 2,175,419,595,093,967,616.00   2,574.07 566,278,294.00

In [ ]:
pd.DataFrame(is_purchase['user_id'].unique(), columns = ['brd'])

In [117]:
pd.DataFrame(is_purchase['user_id'].unique(), columns = ['uid'])

              uid
0       543272936
1       551377651
2       514591159
3       555332717
4       524601178
...           ...
347113  555466772
347114  514503441
347115  514905226
347116  544501248
347117  516662286

[347118 rows x 1 columns]

In [118]:
is_purchase['user_id'].value_counts()

512386086    322
523974502    291
513320236    242
517728689    204
543312954    193
            ...
512751900      1
564800010      1
515852554      1
558305681      1
555106918      1
Name: user_id, Length: 347118, dtype: int64

In [121]:
is_purchase.loc[is_purchase["user_id"] == 512386086, :].sort_values(by=["user_session"])

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,key
20815815,2019-10-16 07:20:25,purchase,1004227,2053013555631882655,electronics.smartphone,apple,"1,005.11",512386086,0254a406-6374-434c-a5c4-fc6587a940f2,5123860860254a406-6374-434c-a5c4-fc6587a940f2
18009096,2019-10-14 09:46:12,purchase,1004873,2053013555631882655,electronics.smartphone,samsung,378.53,512386086,0467ea95-0b24-4495-b23a-b66611775125,5123860860467ea95-0b24-4495-b23a-b66611775125
18011570,2019-10-14 09:48:00,purchase,1004767,2053013555631882655,electronics.smartphone,samsung,250.82,512386086,0467ea95-0b24-4495-b23a-b66611775125,5123860860467ea95-0b24-4495-b23a-b66611775125
21346687,2019-10-16 13:34:37,purchase,1801555,2053013554415534427,electronics.video.tv,lg,462.05,512386086,066feac3-b887-40ce-be49-b75bc042cc81,512386086066feac3-b887-40ce-be49-b75bc042cc81
21378483,2019-10-16 13:54:44,purchase,1004767,2053013555631882655,electronics.smartphone,samsung,250.69,512386086,070c2556-a845-4186-b110-74c7de6b5f06,512386086070c2556-a845-4186-b110-74c7de6b5f06
...,...,...,...,...,...,...,...,...,...,...
25317578,2019-10-19 08:32:03,purchase,4201541,2053013552351936731,appliances.environment.air_conditioner,artel,898.35,512386086,fa6e68d7-d510-416c-86d9-26f2fb98900d,512386086fa6e68d7-d510-416c-86d9-26f2fb98900d
32582070,2019-10-24 10:43:58,purchase,1801555,2053013554415534427,electronics.video.tv,lg,459.21,512386086,fb339712-a4bd-47c0-b419-77e026a8ecc8,512386086fb339712-a4bd-47c0-b419-77e026a8ecc8
21205080,2019-10-16 11:50:07,purchase,1004227,2053013555631882655,electronics.smartphone,apple,"1,005.11",512386086,fbc6865a-a9b1-4a78-994b-665a0cb86218,512386086fbc6865a-a9b1-4a78-994b-665a0cb86218
10521742,2019-10-09 06:59:32,purchase,1801555,2053013554415534427,electronics.video.tv,lg,460.50,512386086,fc88225f-fb27-4df8-8e8a-0985d012c7b9,512386086fc88225f-fb27-4df8-8e8a-0985d012c7b9
10527049,2019-10-09 07:04:04,purchase,1004767,2053013555631882655,electronics.smartphone,samsung,250.96,512386086,fc88225f-fb27-4df8-8e8a-0985d012c7b9,512386086fc88225f-fb27-4df8-8e8a-0985d012c7b9